header{
    width: 100vw;
    padding: 1rem;
    text-align: left;
    h1{
        background: linear-gradient(313deg,rgb(10, 83, 167) 50%, rgb(255, 255, 255) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 38px;
    }
}